{% extends '_base.html' %} {% load static %}


{% block custom_css %}

<link href="{% static 'assets/plugins/dropify/css/dropify.min.css' %}" rel="stylesheet">
{% endblock custom_css %}
 {% load widget_tweaks %} {% block main %}




<div class="row">
    <div class="col-12">
        <div class="card dr-pro-pic">
            <div class="card-body">
                <form class="card-box">
                    <div class="dropify-wrapper has-preview"><div class="dropify-message"><span class="file-icon"></span> 
                        <p>Drag and drop a file here or click</p><p class="dropify-error">Ooops, something wrong appended.</p>
                    </div><div class="dropify-loader" style="display: none;"></div><div class="dropify-errors-container">
                        <ul></ul></div>
                        <input type="file" id="input-file-now-custom-1" class="dropify" data-default-file="../assets/images/users/dr-pro.png">
                        <button type="button" class="dropify-clear">Remove</button>
                        <div class="dropify-preview" style="display: block;">
                            <span class="dropify-render"><img src="{% static 'assets/images/users/dr-pro.png' %}">
                            </span><div class="dropify-infos"><div class="dropify-infos-inner"><p class="dropify-filename">
                                <span class="file-icon"></span> <span class="dropify-filename-inner">dr-pro.png</span></p>
                                <p class="dropify-infos-message">Drag and drop or click to replace</p></div></div></div></div>                                        
                </form>

                    <form method="post" class="form-horizontal form-material mb-0">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-md-6">
                                <!-- <input type="text" placeholder="Full Name"  name="name" id="First_Name"> -->
                                {% render_field form.name class="form-control" placeholder="Full Name" %}

                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <!-- <div class="col-md-4">
                                <input type="text" placeholder="Date of Birth" class="form-control" name="DOB" id="DOB">
                            </div> -->
                            <div class="col-md-4">
                                <!-- <input type="text" placeholder="Speciality" class="form-control" name="Speciality" id="Speciality"> -->
                                <!-- <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input"> -->
                                {% render_field form.dob class="form-control" type="date" %}
                            </div>
                            <div class="col-md-4">
                                <!-- <input type="text" placeholder="Phone No" class="form-control" name="Phone_No" id="Phone_No"> -->
                                {% render_field form.phone class="form-control" placeholder="Phone Number" %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <!-- <input type="email" placeholder="Email" class="form-control" name="Email" id="Email"> -->
                                {% render_field form.email class="form-control" placeholder="Email" %}
                            </div>
                            
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <!-- <input type="text" placeholder="Digree" class="form-control"> -->
                                {% render_field form.degree class="form-control" placeholder="Degree" %}
                            </div>
                            <div class="col-md-6">
                                <!-- <select class="form-control">
                                    <option>Male</option>
                                    <option>Female</option>
                                </select> -->
                                {% render_field form.gender class="form-control" %}
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea rows="5" placeholder="About Me..." class="form-control"></textarea>
                            {% render_field form.description rows="5" placeholder="About Me..." class="form-control" %}
                            <button class="btn btn-danger btn-sm text-light px-4 mt-3 float-right mb-0 ml-2">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-sm text-light px-4 mt-3 float-right mb-0">Save</button>                                                
                        </div>
                    </form>
                </div>
            </div>                                            
        </div>
    </div> <!--end col-->                                          
</div>
{% endblock main %}