[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-widget-tweaks = "==1.4.8"
django-multiselectfield = "==0.1.12"
asgiref = "==3.2.10"
pytz = "==2020.1"
sqlparse = "==0.4.1"
Django = "==3.1.2"

[requires]
python_version = "3.8"
