{% extends '_base.html' %} {% load static %} {% load widget_tweaks %} {% block main %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <!-- <button type="button" class="btn btn-primary px-4 mt-0 mb-3" onclick="location.href='../hospital/add-patient.html'"><i class="mdi mdi-plus-circle-outline mr-2"></i>Add New Patient</button> -->
                <button type="button" class="btn btn-primary btn-outline-white px-4 mt-0 mb-3">
                
                    <a href="#" class="mr-2" data-toggle="modal" data-animation="bounce" data-target=".patient-create"><i class="mdi mdi-plus-circle-outline mr-2"></i><span style="color: white;">Add New Patient</span> </a>
                </button>
                <div class="table-responsive">
                    <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="datatable_length"><label>Show <select name="datatable_length" aria-controls="datatable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="datatable_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="datatable"></label></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="datatable" class="table dataTable no-footer" role="grid" aria-describedby="datatable_info">
                                    <thead class="thead-light">
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Patient Name: activate to sort column descending" style="width: 188.011px;">Patient Name</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 48.9205px;">Age</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="ID: activate to sort column ascending" style="width: 48.0114px;">ID</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Address: activate to sort column ascending" style="width: 193.466px;">Address</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Mobile No: activate to sort column ascending" style="width: 102.557px;">Mobile No</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Last Visit: activate to sort column ascending" style="width: 92.5568px;">Last Visit</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 71.6477px;">Status</th>
                                            <th class="text-right sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 72.5568px;">Action</th>
                                        </tr>
                                        <!--end tr-->
                                    </thead>

                                    <tbody>
                                        <!--end tr-->
                                        <!--end tr-->
                                        <!--end tr-->
                                        <!--end tr-->
                                        <!--end tr-->
                                        <!--end tr-->
                                        {% for object in object_list %}
                                        <tr role="row" class="odd">
                                            <td class="sorting_1">
                                                <a href="{{object.get_absolute_url}}"><img src="{% static 'assets/images/users/user-10.jpg' %}" alt="" class="thumb-sm rounded-circle mr-2">{{object.name}}</a>
                                            </td>
                                            <td>{{object.age}}</td>
                                            <td>#{{object.id}}</td>
                                            <td>{{object.address.address_line1}}</td>
                                            <td>{{object.phone}}</td>
                                            <td>18/07/2019</td>
                                            <td><span class="badge badge-soft-success">Approved</span></td>
                                            <td class="text-right">
                                                <a href="{{object.get_update_url}}" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a>
                                                <a href="#" data-toggle="modal" data data-target=".confirm-delete"><i class="fas fa-trash-alt text-danger font-16"></i></a>

                                            </td>
                                        </tr>
                                        <!-- MODAL CONFIRM DELETE -->
                                        <div class="modal fade bs-example-modal-center show confirm-delete" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="padding-right: 15px;" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title mt-0" id="exampleModalLabel">Modal title</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="toast-body">
                                                            <form method="post" action="{% url 'patients_delete' object.id %}">
                                                                {% csrf_token %} Are you sure you want to delete {{object}}?
                                                        </div>
                                                        <button class="btn btn-danger btn-small">
                                                            <a href="{{object.get_delete_url}}">Confirm</a>
                                                            
                                                        </button>
                                                        </form>
                                                    </div>
                                                </div>
                                                <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal-dialog -->
                                        </div>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">Showing 1 to 6 of 6 entries</div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous disabled" id="datatable_previous"><a href="#" aria-controls="datatable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                                        <li class="paginate_button page-item active"><a href="#" aria-controls="datatable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                        <li class="paginate_button page-item next disabled" id="datatable_next"><a href="#" aria-controls="datatable" data-dt-idx="2" tabindex="0" class="page-link">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end card-body-->
        </div>
        <!--end card-->
    </div>
    <!--end col-->
</div>
{% endblock main %} {% block custome_js %}

<div class="modal fade bs-example-modal-lg patient-create" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myLargeModalLabel">Add a New Doctor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'patients_create' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="DoctorName">Patient Name</label>
                                <!-- <input type="text" class="form-control" id="DoctorName" value="Dr.Wendy Keen" required=""> -->
                                {% render_field form.name class="form-control" placeholder="Full Name" %}

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="DoctorDegree">Doctor</label>
                                <!-- <input type="text" class="form-control" id="DoctorDegree" value="MD" required=""> -->
                                {% render_field form.doctor class="form-control" %}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="Specialties_select" class="mr-2">Gender</label> {% render_field form.gender class="form-control" %}

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="message">Date of Birth</label> {% render_field form.dob class="form-control" type="date" %}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="DoctorDegree">Phone</label>
                                <!-- <input type="text" class="form-control" id="DoctorDegree" value="MD" required=""> -->
                                {% render_field form.phone class="form-control" placeholder="Ex: +964 77..." %}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="DoctorDegree">Emain</label>
                                <!-- <input type="text" class="form-control" id="DoctorDegree" value="MD" required=""> -->
                                {% render_field form.email class="form-control" placeholder="Enter an email..." %}
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="message">Experience Info</label>
                                <!-- <textarea class="form-control" rows="3" id="message" value="">4 years experience in Apollo Hospital</textarea> -->
                                {% render_field form.description rows="3" placeholder="About Me..." class="form-control" %}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary">Save</button>
                    <!-- <button type="button" class="btn btn-sm btn-danger">Delete</button>              -->
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal create -->

<!-- MODAL CONFIRM DELETE -->
<div class="modal fade bs-example-modal-center show confirm-delete" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="padding-right: 15px;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="toast-body">
                    Are you sure you want to delete {{object}}?
                </div>
                <button class="btn btn-danger btn-small">Confirm</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

{% endblock custome_js %}